extends layout

block right
    .bs-table
        table.table.table-hover
            thead
                tr
                    th App ID
                    th Task ID
                    th.text-right Message
                    th.text-right Timestamp

            tbody(ng-controller="HelloWorldCtrl", class="ng-cloak")
                tr(ng-repeat="item in inventory | filter:query | orderBy: 'path' ")
                    td {{item.data.jobData.data.fromMarathonEvent.appId}}
                    td {{item.path}}
                    td.text-right {{item.data.customData}}
                    td.text-right {{item.data.jobData.data.fromMarathonEvent.timestamp}}
