extends layout

block right
    .bs-table
        table.table.table-hover
            thead
                tr
                    th App ID
                    th Task ID
                    th.text-right Message
                    th.text-right Updated

            tbody
                tr(ng-repeat="item in inventory | filter:query | orderBy: 'data.taskData.taskId' ")
                    td {{item.data.taskData.appId}}
                    td {{item.data.taskData.taskId}}
                    td.text-right {{item.data.customData}}
                    td.text-right {{item.data.taskData.timestamp | date:'yyyy-MM-dd, HH:mm:ss'}}
